language: node_js
node_js:
  - '8'
before_install: npm install -g greenkeeper-lockfile@1
before_script: greenkeeper-lockfile-update
after_script: greenkeeper-lockfile-upload
install: npm i
script: npm run build && npm run test:ci
deploy:
  - provider: heroku
    app: pdxnow
    skip_cleanup: true
    on:
      branch: master
    api_key:
      secure: bThGAVP1c75qkgRMqpF37q+K4ND+R0celsnseLZb3nwYcwM0SmHYYWU4X1XiTiF+IUIPnIiJCxvhx9kd2RpIWma/c5vB7wraMgMbgeU0r/13dQ+sFunhXGOfD+8V0L9OnXViXiFRw7LO0hGjc7xieQgm4K4lzCC0omrqV1ZllNJHWpmeHqC2AKfLtwD546FJ7mX0DCbMXyBJP8QmKnEkbTPrbFBiTlzW3qwg8vqDPluGk0z2r5khH/Ng9/j5PYPQ5UrdxS7I5epfioXOyAlh22SxBDZUfSQlGumTI0378D6YluN8J/fRFKUq/G9O1WHuQOuz/HqNnMuaRjIqmdrIK+ukFzNxK9hK1qmlZkcnXsRcvgHJTlkYEt9Z+jvoT4rWI5Z1BODm++3te2A8Vg/7Il7HuBDFjwVPES0HJlixcNX/JiBhstPG7wQ8kWQ3tByEZMQ078+QxT37Iq16qynZwjD4ltEFeSWvCogN0nzHufB6jOMQ1M9t7GBQa8bQ2ePPw8EZ0hK0P+t5ja/uklqzvNTQMMvhDVC0nBrAnBFulSwazgbAJYkqTqFRvCbWhUcUDG/R3efI0a8nlNlW44zdspZuM8mbZFuc6Yc7MX3g9CmPb//68WtgsBTs2GBAqFIWEQczh+N5F8f+1Dn6G/KuvPcdgLp6/qSWH+cDG3f6tGI=
  - provider: heroku
    app: test-pdxnow
    skip_cleanup: true
    on:
      all_branches: true
    api_key:
      secure: bThGAVP1c75qkgRMqpF37q+K4ND+R0celsnseLZb3nwYcwM0SmHYYWU4X1XiTiF+IUIPnIiJCxvhx9kd2RpIWma/c5vB7wraMgMbgeU0r/13dQ+sFunhXGOfD+8V0L9OnXViXiFRw7LO0hGjc7xieQgm4K4lzCC0omrqV1ZllNJHWpmeHqC2AKfLtwD546FJ7mX0DCbMXyBJP8QmKnEkbTPrbFBiTlzW3qwg8vqDPluGk0z2r5khH/Ng9/j5PYPQ5UrdxS7I5epfioXOyAlh22SxBDZUfSQlGumTI0378D6YluN8J/fRFKUq/G9O1WHuQOuz/HqNnMuaRjIqmdrIK+ukFzNxK9hK1qmlZkcnXsRcvgHJTlkYEt9Z+jvoT4rWI5Z1BODm++3te2A8Vg/7Il7HuBDFjwVPES0HJlixcNX/JiBhstPG7wQ8kWQ3tByEZMQ078+QxT37Iq16qynZwjD4ltEFeSWvCogN0nzHufB6jOMQ1M9t7GBQa8bQ2ePPw8EZ0hK0P+t5ja/uklqzvNTQMMvhDVC0nBrAnBFulSwazgbAJYkqTqFRvCbWhUcUDG/R3efI0a8nlNlW44zdspZuM8mbZFuc6Yc7MX3g9CmPb//68WtgsBTs2GBAqFIWEQczh+N5F8f+1Dn6G/KuvPcdgLp6/qSWH+cDG3f6tGI=
env:
  global:
    - secure: XYbOoBpaBEPlC0NBQRzCBbeF/A8XX1dufcljTob6GARCYw7dM7d0YxiehsYWg7UfWf0Up4KnINQEfQgIjCbXWe+4RzbRqxs0SOO9f598B/S28sf6D+D/SIhWSqKZQ48753za2T4MqSl1iHmjzJB5JWS466dBqu2pBtTlnJvXWhIDEF6aJRTQCW10RNEAGRNGFvEi9kD0RXrd7RB5EeZHxpqMa8Q6I5/VzqxFeVWppw12EfOGVUa5bizFrV0wofDY/YU0AK8zbzFXniCbr0jVhrl7CCk/DaW/lIrmpg7sDFhcHmR/GQX5q0pbi3v8Nd5CuYi+QSYezSo2VQIDZdlCikC5HIQyu/LPeo7s7umoN4LW6cCqOiKlnexk8Pblm4Us7aVULWjirLWlgkUtXMdSLLBWqQKcbyK3QrsdWZ/8vBKydZIj8B/lyggXjJCFZwyIFzhhmKT2rqBwc1QWtuisZLTn/XkSRJz0JzQEF8pOVYbOkG8kZQi9zswUEDfsVDHuqAqSl9MfApxXOtvqo0g388+IgUihC9cykJXlKFMKycYO+A70B3yLLjhZQKAkdPxTegRHpy/27BJUu7OEon0a7tWQbmyv7GPwOOSqyBwYmBw+Rkh24Cxtp1btQkbka03Jg11VIpfRRUrw8L0Rogc7CZC6J02FPx6vt6If8kb64c4=
    - secure: or4l4coou/H6gB92C01qtHnsCeNPwCikf0koSW6QdhHmuedCKEbNRUCpWcrx4oV8rZemueHRk0XStrPMgdW0TrOt9IHPc759IqlBgoJbAEVuF75vBfgAsYc7s2kftCzTJJS1n5OwajjSY+w3XqVWBSvkyDi0MgQ4Wovd40Q2/YO6Rf1W3nvtbr5F/8K/rfOkYOE5VgruAhbQIMhZYimnYkbaYDDsY5NtMvulZ85AB2Jo8xlKOOPaGZdvvmV8wccw1DzWPuBrOUvNuZqjx4K33QXeadXBXYr9ZyVuoyrzMfiUot97lbU04qy1zNC1CLhnEjqhgaaBPT5cmVmD94M46oBMqrWwqtoMSoFUVmflji2szJkNGla631rOKloGeibsr26LqGT9t5c213mBNYj7A1w7adJgK+Ehgy7viQXZ+GZD8h8ZJ/S11roOXZ8Izt6n6OGL+gzzENpPMNOpAe8F3bbceHwbQw2koaFXqGQmmzfPNGB+Anchsl69ylh5qHOi1wGqkStIZG+VRotAZszEJU5UEUxwci+kEghUbvCOASd9uMSK36+es6TE/f2qb+AM8NMjf2IbSeunziLCnwUV5hjwNb865A8teKqs/Ok6UX4HQBecfS8vcoBwwvv1FShqxI5KqBiwrXCM3cnGoGjjkoFIW1+bHNks++ELFU7KzN4=
