body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

div.filter-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

filter-control {
  margin: 20px;
}

.filter-control svg {
  stroke-width: 1;
}

svg[isenabled='true'] {
  fill: #5effc0;
}

#no-content-message {
  padding: 20px;
  margin: 50px;
}

div.main-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
}

.card-items {
  margin: 10px;
  height: 300px;
  width: 300px;
  border: 5px solid black;
}

.card-items img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

blockquote.twitter-tweet {
  display: inline-block;
  font-family: 'Helvetica Neue', Roboto, 'Segoe UI', Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}
